article{
    margin-left:16px;
	width:774px;
	min-height:400px;
	float:left;
}
article, article th {
	color:#444444;
}
article a {
	color:#666666;
	text-decoration:none;
	text-shadow: #999999 1px 1px 3px;
}
article a:hover {
	color:#333333;
	text-shadow: #444444 1px 1px 3px;
}
